/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: url('https://source.unsplash.com/1600x900/?restaurant') no-repeat center center/cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
}

.container {
  background: rgba(0, 123, 255, 0.8); /* Fundo azul translúcido */
  border-radius: 15px;
  padding: 30px 20px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.logo {
  max-width: 120px;
  margin-bottom: 20px;
}

h1 {
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 10px;
}

p {
  font-size: 1em;
  margin-bottom: 20px;
}

.upload-button {
  display: inline-block;
  margin: 15px 0;
  padding: 10px 20px;
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
  border: 2px solid #ffffff;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.upload-button:hover {
  background-color: #ffffff;
  color: #007BFF;
  transform: scale(1.05);
}

#qrcode {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
}

.link-button {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #007BFF;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.link-button:hover {
  background-color: #0056b3;
  color: #fff;
  transform: scale(1.05);
}
